html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Nav Bar */
.navbar {
  /* border: 2px solid red; */
  height: 100px;
  width: 100%;

  position: fixed;
  z-index: 12;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo { 
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: 37px;

  position: relative;
  box-shadow: 0 0 0 5px white,
      0 0 0 7px gray;

 
}
.links {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    height: 100vh;
    color: #435457;

    display: flex;
    justify-content: center;
    align-items: center;

}
/* .link {
  border: 2px solid blue;
} */
.link, .links > p {
  white-space:nowrap;
  font-size: 1.3rem;

}

.burger {
  /* border: 2px solid black; */
  color: gray;
  font-size: 2rem;
  display: block;
  margin-right: 30px;

  position: relative;
  z-index: 2;}

@media screen and (min-width: 1000px){
 
  .links {
    
    right: 30px !important;

    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .link, .links > p {
    margin: 5px 10px;
  }
  .burger{   
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .links {
    width: 70%;
    background: #FFFFFF;
    right: -70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
  }

}
.colors{
  color: rgb(217, 217, 217);
}