.container {
  /* border: 3px solid black; */
  position: relative;
  /* overflow: hidden !important; */

}


.absolutewrapper {
  /* border: 2px solid black; */
  z-index: 10;
  position: absolute;
  top: 110vh;
  width: 100%;
}
.section1{
  /* border: 2px solid red; */
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section1 > div:nth-child(1){
  /* border: 2px solid blue; */
  height: 50vh;
  width: 100%;
  padding: 0 5vh; 

  max-width: 500px;

  display: flex;
  justify-content: space-between;
}
.section1 > div:nth-child(1) > div:nth-child(1){
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videowrapper {
  /* border: 2px solid red; */
  position: relative;
  
  z-index: 10;
  height: 300px;
  width: 80%;
  margin: 100px 0;
  max-width: 500px;
}
.videowrapper iframe {
  border-radius: 25px;
  
  height: 100%;
  width: 100%;
}


.section2 {
  /* border: 2px solid blue; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  
  flex-direction: column;
}
.section2 > div:nth-child(1){
  margin: 50px 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}
.section2 > div:nth-child(2){
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;

  
  
}

@media screen and (min-width: 600px) {
  .section2 {
    flex-direction: row;
    padding: 0 20vw;
  }
 
  .section2 > div:nth-child(2){
    flex-direction: column;
    justify-content: space-around;
    
    
  }
}