.closedContent{
    background: lightblue;
    border-radius: 10px;
    /* padding: 5px 2px; */
    position: relative;

    height: 100%;
    overflow: hidden;
    
    
}
.gradientbox{
    background: rgb(48,80,137);
    background: linear-gradient(180deg, rgba(48,80,137,0.7) 56%, rgba(217,217,217,0.06796221906731448) 100%);
    position: relative;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gradientbox > p {
    position: absolute;
    top: 10%;
}





.openContent {
    /* border: 2px solid red;; */
    min-height: 120vh;
    width: 100%;

    display: flex;
    flex-direction: column;

}
.mapbox {
    /* border: 2px solid blue; */
    flex-grow: .5;
    padding-top: 100px;
}
.mapbox p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
}
.infobox {
    /* border: 2px solid red; */
    flex-grow: .5;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    background: #D1D1D1;

    width: 70%;
    min-width: 200px;
    flex-grow: .8;
    max-height: 400px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box > div:nth-child(1){
    background: white;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.box > div:nth-child(1) > p {
    background: #F3F3F3;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 15px 2px rgba(114,196,145,0.75);

    position: relative;
    top: 25px;
    left: 25px;
}
.boxRow {
    /* border: 2px solid white; */
    padding: 20px;

    display: flex;
    justify-content: space-between;

}
.boxRow > button {
    border: 5px solid white;
    border-radius: 25px;
    padding: 5px 20px;
}


@media screen and (min-width:600px){
    .openContent{
        flex-direction: row-reverse;
    }
}