.closedContent{
    background: lightblue;
    border-radius: 10px;
    /* padding: 5px 2px; */
    position: relative;

    height: 100%;
    overflow: hidden;
    
    
}
.gradientbox{
    background: rgb(48,80,137);
    background: linear-gradient(180deg, rgba(48,80,137,0.7) 56%, rgba(217,217,217,0.06796221906731448) 100%);
    position: relative;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gradientbox > p {
    position: absolute;
    top: 10%;
}





.openContent {
    /* border: 5px solid red; */
    min-height: 120vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    position: relative;

}
.toprect {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    
    background: #d9d9d9;
    box-shadow: 0px -2px 15px 0px #72c491bf inset;
}
.mapbox {
    /* border: 5px solid blue; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 130px;

}
.mapbox > p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
}
.maps {
    /* border: 2px dotted red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.map > div {
    height: 250px;
    width: 250px;
    margin: 0 20px;
    position: relative;
    box-shadow: 0 0 15px 0 #72C491;
}
.map > p {
    font-size: 1.3rem;
    padding: 10px 0;
    text-align: center;
}


.infobox {
    /* border: 5px solid black; */
    padding: 50px;
   
    background: #d9d9d9;
    box-shadow: 0px -2px 15px 0px #72c491bf inset;

    display: flex;
    justify-content: center;
    align-items: center;
}
.infobox > p {
    margin: 0 20px;
}
.infobox > div {
    /* border: 2px solid white; */
    width: stretch;
    max-width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.infobox > div > button {
    color: white;
    padding: 10px 30px;
    background: #508924;
    border: 5px solid white;
    border-radius: 25px;
}
.infobox > div > p{
    white-space: nowrap;
    margin: 20px;
}
