.closedContent{
    
    border-radius: 10px;
    padding: 5px;
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    
}
.wheading {
    background: #72C491;
    border-radius: 15px 15px 0 0;
    padding: 10px 5px;
}
.wheading > p {
    text-align: center;
}
.wheading > p:nth-child(2) {
    font-size: .7rem;
}
.wcol{
    /* border: 2px solid red; */
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    
}
.wrow {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrow > p {
    font-size: .9rem;
}
.fill {
    background: #D9D9D9;
}



.openContent {
    /* border: 5px solid red; */
    background: white;
    width: 100%;
    padding-top: 100px;
    color: #435457;


}
.openContent > h3 {
    font-size: 1.5rem;
    text-align: center;

    width: 70%;
    margin: 50px auto;
}
.openContent > p {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    margin: 100px auto;
}
.openContent > p::after {
    content:"";
    display: block;
    position: relative;
    top: 50px;
    background: #435457;
    height: 2px;
    width: 70%;
    margin: 0 auto;

}

/* .myswiper {
    border: 2px solid red;
} */
.myslide {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.treatmentbox {
    /* border: 2px solid red; */
    margin: 20px;
    /* width: 80%; */
    max-width: 400px;
    /* min-height: 400px; */

    display: flex;
    flex-direction: column;
}
.treatmentbox > p:nth-child(1){
    color: white;
    background: #72C491;
    padding: 20px;
    text-align: center;
}
.imgbox {
    background: #F3F3F3;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgbox > div {
    /* border: 2px solid blue; */
    flex-grow: .5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgbox > div > div {
    
    height: 150px;
    width: 150px;
    position: relative;
}

.treatmentbox > p:nth-child(3) {
    color: white;
    background: #9A9A9A;
    flex-grow: .2;
    font-size: .8rem;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}






.infobox {
    /* border: 5px solid black; */
    padding: 50px;
   
    background: #d9d9d9;
    box-shadow: 0px -2px 15px 0px #72c491bf inset;

    display: flex;
    justify-content: center;
    align-items: center;
}
.infobox > p {
    margin: 0 20px;
}
.infobox > div {
    /* border: 2px solid white; */
    width: stretch;
    max-width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.infobox > div > button {
    color: white;
    padding: 10px 30px;
    background: #508924;
    border: 5px solid white;
    border-radius: 25px;
}
.infobox > div > p{
    white-space: nowrap;
    margin: 20px;
}
