
.absolutewrapper {
    /* border: 5px solid gray; */
    height: 60%;
    width: 100%;
  
    position: absolute;
    bottom: 0;
    z-index: 10;
    
    display: flex;
    flex-direction: column;
  }

 
  .section1{
    /* border: 2px solid black; */
    position: relative;

    flex-grow: .3;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }


  .griddy {
    /* border: 3px solid gold; */
    width: 100%;
    max-width: 600px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 50px; 
    grid-template-areas: 
      "subgriddy ."; 
    
  }
  .subgriddy {
    /* border: 2px solid navajowhite; */
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
    grid-area: subgriddy; 
  }
  .griddy > div:nth-child(2) {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subgriddy > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .videowrapper {
    /* border: 2px solid red; */
    position: relative;
    z-index: 10;


    height: 300px;
    width: 80%;
    max-width: 500px;
  }
  .videowrapper iframe {
    border-radius: 25px;
    
    height: 100%;
    width: 100%;
  }
  
  
  .section2 {
    /* border: 5px dotted blue; */
    width: 100%;
    flex-grow: .2;

    position: relative;

    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "subgriddyx"; 

    

  }
  .section2 > div:nth-child(1){
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subgriddyx{
    /* border: 2px solid blue; */
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    grid-area: subgriddyx;
  
  }
  .subgriddyx > div {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
 


  @media screen and (min-width: 600px) {
    .section2 {
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr; 
      grid-template-areas: 
        ". subgriddyx"; 
    }
    .subgriddyx{
      grid-template-columns:1fr; 
      grid-template-rows: 1fr 1fr; 
      grid-template-areas: 
        "."
        "."; 
    
    }
 
  }